<div class="display">
  <ul class="nav nav-pills" id="display_nav">
  
    <li><a href="#tabs-1">Your Places</a></li>
    <li><a href="#tabs-2">Accepted Reservations</a></li>
    <li><a href="#tabs-3">Pending Reservations</a></li>
  </ul>

  <div id="tabs-1">
    <div class="title">
      <h4>Your Places:</h4>
    </div>
    <div class="container"> 
      <% @places.each do |place| %>
 
          <h6> <%= place.title %></h6>
          <ul id="address_details">
            <li>Address: <br><%= place.address %><br>
            <li>State: <%= place.state %></li>  
          </ul>
        </div>
      <% end %>
      <% if @places.empty? %>
        <div class="create_new_place inner">
            <div class="float_to_center">
              <h4><%= link_to 'List Your Place!', new_place_path %></h4>
            </div>
          </div>
        <% end %>
    
    </div>
  </div>

  <div id="tabs-2">
    <% unless @accepted_reservations.empty? %>
      <div class="title">
        <h4>Your Accepted Reservations:</h4>
      </div>

      <div class="generic">
        <% @accepted_reservations.each do |reservation| %>
          <div class="trip_display">
            <h5>Your Trip To: <%= reservation.place.title %></h5>
            <ul>
              <li>From: <%= reservation.check_in.strftime("%m/%d/%Y") %></li>
              <li>To: <%= reservation.check_out.strftime("%m/%d/%Y") %></li>
              <li>To: <%= reservation.total %></li>

            </ul>
            <%= link_to "Property Details", place_url(reservation.place), class: "btn" %>
            
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="title">
        <h4>No Current Trips Planned</h4>
      </div>
    <% end %>
  </div>

  <div id="tabs-3">
    <% unless @pending_reservations.empty? %>
      <div class="title">
        <h4>Pending Reservations:</h4>
      </div>

      <div class="generic">
        <% @pending_reservations.each do |reservation| %>
          <div class="trip_display">
            <h5>Your Trip To:  <%= reservation.place.title %></h5>
            <ul>
              <li>Owner Contact Info: <%= reservation.place.owner.email %></li> 
              <li>Check In: <%= reservation.check_in.strftime("%m/%d/%Y") %></li>
              <li>Check Out: <%= reservation.check_out.strftime("%m/%d/%Y") %></li>
              <li>Total Cost: $<%= reservation.total %></li>
              
            </ul>
            <%= link_to "Property Details", place_url(reservation.place), class: "btn" %>
            
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="title">
        <h4>No Pending Requests</h4>
      </div>
    <% end %>
  </div>

  