<h4> Book your stay! </h4>
<%= form_for @reservation, url: reservations_path, method: :post, :html => { :multipart => true } do |f| %>
 
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <div class="form-group">
    <strong>Check in:<%= f.date_field('check_in', :start => Time.now ) %> </strong>
  </div>
  <div class='form-group'>
    <strong>Check out:<%= f.date_field('check_out', default: 3.days.from_now ) %></strong>
  </div>
  <div>
  <%= f.submit(:class => "btn btn-primary") %>
</div>
<% end %>