<%= render 'pages/home' unless user_signed_in? %>

<div id="places" >
  <% @places.each do |place| %>
    <div class="box panel panel-default">

      <p class="content">
        <div class="panel-body">
          <p>Type:<strong><%= place.kind %></strong></p>
          <p>Location:<strong><%= place.address %></strong></p>
          <p>State:<strong><%= place.state %></strong></p>
          <p>Price:<strong><%= place.price %></strong></p>
          <p>Availability:<strong><%= place.availability %></strong></p>
          <p>Details:<strong><%= place.description %></strong></p>


          <strong><%= link_to 'Reserve', place_path(place) %></strong>
        </br>
        </br>

          <% if place.owner == current_user %>
            <div class="actions">
              <%= link_to edit_place_path(place) do %>
                <span class="glyphicon glyphicon-edit">Edit</span>
              <% end %>
              
              <%= link_to place, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash">Delete</span>
              <% end %>
            </div>
            
          <% end %>
          

      </div>
    </div>
  <% end %>

</div>