
<%= link_to 'Back', places_path %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
     
  
       
      </div>
    
    <div class="panel-body">
      <h4><%= @place.title %> </h4>
      <p><strong>Type: </strong><%= @place.kind %> </p>
      <p><strong>Address: </strong><%= @place.address %> </p>
      <p><strong>State: </strong><%= @place.state %> </p>
      <p><strong>Description: </strong><%= @place.description %> </p>
      <p><strong>Price/Night: </strong> <%= @place.price %> </p>
      
    </div>
 
  </div>

<div class="form-group">
  <form action="<%= place_reservations_url(@place) %>" method="post" id="reservation_form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <input type="hidden" name="reservation[place_id]" value="<%= @place.id %>">
    <input type="hidden" name="reservation[user_id]" value="<%= current_user.id %>">
    <label for="reservation_check_in">Check In: </label>
    <input type="date" name="reservation[check_in]" id="reservation_check_in">
    <br><br>

    <label for="reservation_check_out">Check Out: </label>
    <input type="date" name="reservation[check_out]" id="reservation_check_out">
    <br><br>
    <input type="submit" value="Submit Request!" class="btn submit_button">
  </form>
</div>




  