
<%= link_to 'Back', places_path %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
     
  
       
      </div>
    
    <div class="panel-body">
      <p>Type:<strong><%= @place.kind %> </strong></p>
      <p>Address:<strong><%= @place.address %> </strong></p>
      <p>State:<strong><%= @place.state %> </strong></p>
      <p>Description:<strong><%= @place.description %> </strong></p>
      <p>Price/Night:<strong> <%= @place.price %> </strong></p>
      <p>Availability:<strong> <%= @place.availability %> </strong></p>

    </div>
   
  </div>


</div>

</div>